= form_tag login_path do |f|
  .form-group
    = label_tag :email
    = email_field_tag :email, nil, { class: 'form-control', 'placeholder' => 'osgemos@example.com' }

  .form-group
    = label_tag :password
    = password_field_tag :password, nil, { class: 'form-control' }

  .actions.form-group
    = submit_tag 'Sign in', class: "btn btn-primary"
