- provide(:title, 'Log in')
%br
.container
  -if notice.nil?
    %p
  -else
    %p.alert.text-center.alert-warningx #notice= notice
  .well.col-md-6.col-md-offset-3
    %h2.text-center Log in
    .text-center
      = link_to "/auth/twitter", class: "btn btn-info" do
        = image_tag('https://s3.amazonaws.com/streetheart/tweet-wht.png')
        = "Connect with Twitter"

      = link_to "/auth/instagram", class: "btn btn-warning" do
        = image_tag('https://s3.amazonaws.com/streetheart/insta-wht.png')
        = "Connect with Instagram"
    .text-center
      %br
      %p
        Don't have Twitter or Instagram? #{link_to "Log in with email", 'email_login_path'}
