- provide(:title, 'Log in')
%br
.container
  -if notice.nil?
    %p
  -else
    %p.alert.text-center.alert-warningx #notice= notice
  .well.col-md-6.col-md-offset-3
    %h2.text-center Log in
    .text-center
      .btn.btn-info
        = image_tag('https://s3.amazonaws.com/streetheart/tweet-wht.png')
        %a.auth_provider{:href => "/auth/twitter"}
          = "Connect with Twitter"
      .btn.btn-warning
        = image_tag('https://s3.amazonaws.com/streetheart/insta-wht.png')
        %a.auth_provider{:href => "/auth/instagram"}
          = "Connect with Instagram"
    .text-center
      %br
      %p
        Don't have Twitter or Instagram? #{link_to "Log in with email", 'email_login_path'}
