= form_for @user, html: {class: 'form-horizontal'} do |f|
  - if @user.errors.any?
    .alert.alert-danger
      - @user.errors.full_messages.each do |message|
        .text-center.no-decoration= message

  .field.form-group.col-md-offset-1
    = image_tag(@user.avatar.url(:thumb)) if @user.avatar?
    = f.label :avatar, class: "col-md-1"
    = f.file_field :avatar, class: "btn col-md-3"
    = f.hidden_field :avatar_cache

  .field.form-group.col-md-offset-1
    = f.label :first_name, class: "col-md-1"
    = f.text_field :first_name, class: "col-md-3"

  .field.form-group.col-md-offset-1
    = f.label :last_name, class: "col-md-1"
    = f.text_field :last_name, class: "col-md-3"

  .field.form-group.col-md-offset-1
    = f.label :email, class: "col-md-1"
    = f.email_field :email, class: "col-md-3"

  .actions.form-group.col-md-offset-1
    = f.submit class: "btn btn-primary col-md-offset-1"
