.container
  .col-md-6
    %h1= current_user
    %p If you're a local artist who has public work running in the streets you are eligble for an Artist Profile on Streetheart. Please submit an image of one of your public pieces.
    %p Presently Streetheart is in beta mode and currently will only be accepting murals as eligble content for submission. Check back soon though, as we are planning to cover the gamuet of public art works as the site gets fully up and running!
  .col-md-6
    = form_for @user, html: {class: 'form-horizontal'} do |f|
      - if @user.errors.any?
        .alert.alert-danger
          - @user.errors.full_messages.each do |message|
            .text-center.no-decoration= message

      .field.form-group.col-md-offset-1
        = image_tag(@user.avatar_url) if @user.avatar?
        = f.label :avatar, class: "col-md-1"
        = f.file_field :avatar, class: "btn col-md-3"
        = f.hidden_field :avatar_cache
      -# Currently set to update the user, not submit!!!
      .actions.form-group.col-md-offset-1
        = f.submit class: "btn btn-primary col-md-offset-1"
