%h1.tube-sm.text-center Artist Profiles
.profile-container
  - @users.each do |user|
    .col-lg-2.profile-box
      = link_to user do
        .avatar
          = image_tag user.avatar.url(:thumb)
      .name-text
        %span
          = user.first_name
%br
.col-md-12
  %br
  -unless current_user.nil? || !current_user.admin?
    = link_to 'Add Artist', new_user_path, class: 'btn btn-info'

.col-md-12
  - if @authentications
    - unless @authentications.empty?
      %p
        %strong You can sign in to this account using:
      .authentications
        - for authentication in @authentications
          .authentication
            .provider= authentication.provider.titleize
            .uid= authentication.uid
            = link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"
        .clear
