.col-md-9#profile-map.profile-map
.col-md-9
  %br
  - if @user.murals.any?
    .user-album
      = render @murals
  = will_paginate @murals

.col-md-3
  %h1.tube-sm.text-center= @user.first_name.capitalize
  .text-center= image_tag @user.avatar.url(:thumb)
  %p
    %strong Twitter
    %br
    = link_to @user.twitter, "http://www.twitter.com/" + @user.twitter, :target => "_blank" if @user.twitter?
  %p
    %strong Instagram
    %br
    = link_to @user.instagram, "http://www.instagram.com/" + @user.instagram, :target => "_blank" if @user.instagram?
  - if current_user.admin? || @user.id == current_user.id
    %p
      = link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary'
      %br
      = link_to 'Are you an artist?', foo_path
  - elsif @user.artist?
    %p
      = link_to 'Is this you?', claim_profile_path

- content_for(:js) do
  :javascript
    $(function(){
      MapFunctions.profileMap('#{user_path(@user, format: :json)}');
    });
