.col-md-7#profile-map.profile-map
.scrollable
  .row
    .col-md-6
      - if @user.first_name
        %h1.tube-sm.text-center= @user.first_name.capitalize
      = link_to image_tag('https://s3.amazonaws.com/streetheart/twitter_icon.jpg'), 'http://www.twitter.com/' + @user.twitter, :target => '_blank' if @user.twitter?
      = link_to image_tag('https://s3.amazonaws.com/streetheart/instagram_icon.jpg'), 'http://www.instagram.com/' + @user.instagram, :target => '_blank' if @user.instagram?
      - if current_user.nil?
      - elsif @user.id == current_user.id
        %p= link_to 'Are you an artist?', foo_path
        %p= link_to 'Edit Profile', edit_user_path(@user)
      -elsif current_user.admin?
        %p= link_to 'Edit Profile', edit_user_path(@user)
    .col-md-6
      = image_tag @user.avatar.url(:thumb)
  .col-md-12
    .row
      .gallery
        - if @user.murals.any?
          .gallery-mural
            = render @murals
        = will_paginate @murals
- content_for(:js) do
  :javascript
    $(function(){
      MapFunctions.profileMap('#{user_path(@user, format: :json)}');
    });
