.col-md-12
  .row
    .col-md-7#profile-map.profile-map
    .scrollable
      .col-md-12.tube-sm
        .row
          %h1.col-md-9= @user.first_name.capitalize
          .col-md-3
            = link_to image_tag('https://s3.amazonaws.com/streetheart/twitter_icon.jpg'), 'http://www.twitter.com/' + @user.twitter, :target => '_blank'
            = link_to image_tag('https://s3.amazonaws.com/streetheart/instagram_icon.jpg'), 'http://www.instagram.com/' + @user.instagram, :target => '_blank'
        .row
          .col-md-9
            = link_to 'Are you an artist?', foo_path
          .col-md-3
            = link_to 'Edit Profile', edit_user_path(@user)
      .text-center= image_tag @user.avatar.url(:thumb)
      .gallery
        - if @user.murals.any?
          .gallery-mural
            = render @murals
        = will_paginate @murals
- content_for(:js) do
  :javascript
    $(function(){
      MapFunctions.profileMap('#{user_path(@user, format: :json)}');
    });
