
.col-md-12
  = form_for @image do |f|

    .form-group.row.hide-me
      .col-md-12.ownership_form
        = f.fields_for :ownerships do |owner|
          = owner.hidden_field :mural_id, id: 'owner-mural-id'
          = owner.label "Artist"
          = owner.collection_select(:user_id, User.where(artist: true), :id, :first_name, { include_blank: "Pick an artist" }, {class: 'form-control'})

    .form-group.row
      .col-md-12.murals_form
        = f.fields_for :murals do |mural|
          = mural.hidden_field :latitude, id: 'lat'
          = mural.hidden_field :longitude, id: 'long'

    %div.col-md-12.well
      .form-group
        .col-md-6.col-md-offset-1.images_form
          = f.hidden_field :mural_id, id: 'image-mural-id'
          = f.hidden_field :user_id, value: current_user.id
          = f.label :source, 'Add Image'
          = f.file_field :source
          = f.file_field :source_cache, class: 'hidden'

      .form-group
        .col-md-5
          =f.submit 'Upload Mural', class: 'btn btn-primary upload-btn'
