.container
  %h1.text-center Add some street art!
  %br
  .well.col-md-8.col-md-offset-2
    - if @mural.errors.any?
      .alert.alert-danger
        - @mural.errors.full_messages.each do |message|
          .text-center.no-decoration= message
    %div.col-md-6
      = form_for @mural do |f|
        .form-group
          = f.label :image
          = f.file_field :image
          = f.hidden_field :image_cache
        .form-group.row
          .col-md-12
            = f.label 'Artist'
            = f.collection_select(:user_id, User.where(artist: true), :id, :first_name, { include_blank: "Who's the artist?" }, {class: 'form-control'})

        .form-group.row
          .col-md-12
            = f.text_field :latitude, id: 'lat', class: 'form-control'
            = f.text_field :longitude, id: 'long', class: 'form-control'

        .form-group.row
          .col-md-12
            .col-md-6.row
            .add-location.col-md-6
              -# Swap out with target glyph
              = link_to 'Use current location'
              %input.lat{:type => "text"}
              %input.long{:type => "text"}
        .form-group
          = f.label :buffed
          = f.check_box :buffed
        .form-group
          =f.submit 'Submit', class: 'btn btn-primary'
    %div.col-md-6#new-mural-map
      -#placeholder image untill preview works
      = image_tag(@mural.image.url(:thumb)) if @mural.image?
