.container
  %h1.text-center Add some street art!
  %h2.add-location Add Location
  = form_for @mural do |f|
    = f.label :image
    = f.file_field :image
    = f.hidden_field :image_cache
    = image_tag(@mural.image) if @mural.image?

    = f.label :user_id
    = f.collection_select(:user_id, User.where(artist: true), :id, :first_name, {}, {class: 'form-control'})
    %br
    = f.label :buffed
    = f.check_box :buffed
    %br
    %br
    =f.submit 'Submit', class: 'btn btn-primary'

  %input.lat{:type => "text"}
  %input.long{:type => "text"}
