%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => root_path} Streetheart
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      = link_unless_on_own_page(murals_path, 'Gallery')
      = link_unless_on_own_page(users_path, 'Artists')
      -if current_user
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
            = current_user.first_name
            %b.caret
          %ul.dropdown-menu
            %li= link_to "Profile", current_user
            %li.divider
            %li= link_to 'Log out', logout_path
      -else
        = link_unless_on_own_page(signup_path, 'Sign up')
        = link_unless_on_own_page(login_path, 'Log in')
