%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "#"} Streetheart
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'Sign up', '#'
      %li= link_to 'Log in', '#'
      %li= link_to 'Log out', '#'
      %li= link_to 'Home', root_path
      %li= link_to 'Artists', artist_profiles_path
      -# - if user_signed_in?
      -#   %li= link_to "Log out", '#', method: :delete
      -# - else
