%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "#"} Streetheart
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      -if current_user
        %li= link_to 'Log out', logout_path
      -else
        = link_unless_on_own_page(signup_path, 'Sign up')
        = link_unless_on_own_page(login_path, 'Log in')
      = link_unless_on_own_page(root_path, 'Home')
      = link_unless_on_own_page(street_galleries_path, 'Gallery')
      = link_unless_on_own_page(artist_profiles_path, 'Artists')
