!!!
%html
  %head
    %title Streetheart
    = stylesheet_link_tag    'application', media: 'all'
    %link{:rel=> :stylesheet, :href=> "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}
    = csrf_meta_tags
    = favicon_link_tag '/hearticon.png'
  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
